@{
    Layout = null;
}
<!doctype html>
<head>
    <title>APS.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Привет MVC</h2>
    <p>Эта страница отображается через паттерн MVC</p>
    <p>Страница Razor Pages, расширение cshtml</p>
</body>
</html>